h1, p {
  font-family: Lato;
}

.column1{
  width : 2rem;
  display: inline-block;
  word-break: break-word;
}

.centered {
    height: 50px;
    left: 50%;    
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.center-div
{
     position: center;
     margin: auto;
     top: 50%;
     right: 50%;
     bottom: 50%;
     left: 50%;
}

.controlButtonsPanel{
  border:0.01rem solid #eeeeee
}

.complete-box{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.column1{
  border:0.01rem solid #eeeeee;
  width:4rem;
}

.column2{
  border:0.01rem solid #eeeeee;
  width:20rem;
  max-height: 750px;
  overflow-y: scroll;
}

.column3{
  border:0.01rem solid #eeeeee;
  display:flex;
  max-width:750px;
  margin: auto;
}

.addSomePadding{
  margin-left:0.8rem;
}

.leftOptionsInEditPanel{
  display: flex;
	flex-direction: column;	
}

.alignToRight{  
  float: right;
  margin-right:0.3rem;
}

.formBuildPanel{
  display: flex;
	flex-direction: row;	
  justify-content: left;
  width: 60rem;
  max-height: 600px;
  overflow-y: scroll;
}

.boxed{
  width:500px;
  margin: auto;
}

.checkboxEditOptions{
  display: flex;
}

.flex-container {
  display: flex; 
}

.flex-container:hover{
  border: 2px solid lightblue;
}

.qName{
  margin-top: 0.1rem;
  justify-content: left;  
  font-weight:900;
  display:inline-block;  
  color:grey;
  padding:1.3rem;
  padding-top:1.5rem;
  padding-right:1.5rem;  
}

.qValue{
  margin-top: 0.5rem;  
}